RootingService/RootingService/Connected Services/ServiceReference1/Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Proxy" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/Proxy/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/Proxy/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Proxy/Proxy/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Proxy" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProxy_GetStationInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationInfo" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetStationInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetListContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListContract" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetListContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListContractResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetListStation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListStation" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetListStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListStationResponse" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IProxy_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IProxy">
    <wsdl:operation name="GetStationInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetStationInfo" message="tns:IProxy_GetStationInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetStationInfoResponse" message="tns:IProxy_GetStationInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetListContract" message="tns:IProxy_GetListContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetListContractResponse" message="tns:IProxy_GetListContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetListStation" message="tns:IProxy_GetListStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetListStationResponse" message="tns:IProxy_GetListStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IProxy/GetStations" message="tns:IProxy_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProxy/GetStationsResponse" message="tns:IProxy_GetStations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProxy" type="tns:IProxy">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStationInfo">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetStationInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListContract">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetListContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListStation">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetListStation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap:operation soapAction="http://tempuri.org/IProxy/GetStations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proxy">
    <wsdl:port name="BasicHttpBinding_IProxy" binding="tns:BasicHttpBinding_IProxy">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Proxy/Proxy/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>